@import "tailwindcss";

@theme {

  --color-blue: #324376;

  --color-gray-100: #dae4f2;
  --color-gray-200: #c8d0da;
  --color-gray-300: #95a1b1;
  --color-gray-400: #6f7d90;
  --color-gray-500: #2a313c;
  --color-gray-600: #21252c;
  --color-gray-700: #191d24;
  --color-gray-800: #13161b;
  --color-gray-900: #0f1216;

  --font-heading: var(--font-oxanium);
  --font-sans: var(--font-montserrat);

  --radius-xl: 0.625rem
}


progress::-webkit-progress-value { background: cyan; }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

.overflow-x-auto::-webkit-scrollbar, .overflow-y-auto::-webkit-scrollbar {
  display: block;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #324376;
}
